/* Make page full height */
html, body {
    height: 100%;
    margin: 0;
}

/*navbar styling*/
#navbar .navbar {
    background-color: #e6e6e6;

}

.navbar-brand {
    font-size: 150%;
    color: #4A90E2
}
.nav-link {
    font-size: 100%;
    color: #4A90E2

}

/* Flex layout to push footer down */
body {
    display: flex;
    flex-direction: column;
}


/* Hero section */

#hero {
    position: relative;         /* allows absolute positioning inside */
    height: 100vh;              /* full screen height */
    width: 100%;
    background: url("../assets/images/dark-hero-image.png") no-repeat center center/cover;
}

/* H1: Stick to middle */
#hero .main-title h1 {
    position: absolute;
    bottom: 150px;             /* distance from bottom */
    left: 50%;
    transform: translateX(-50%); /* centers it horizontally */
    margin: 0;
    color: #BFD6FF;
    text-align: center;
    size : 48px;
}

/* H2: Center bottom */
#hero .main-title h2 {
    position: absolute;
    bottom: 20px;              /* distance from bottom */
    left: 50px;
    margin: 0;
    text-align: center;
    color: whitesmoke;
    
}
/*H3 Styling*/
#hero .main-title h3 {
        position: absolute;
    bottom: 300px;             /* distance from bottom */
    left: 50%;
    transform: translateX(-50%); /* centers it horizontally */
    margin: 0;
    color: #BFD6FF;
    text-align: center;}
     
/* Footer container */
#footer {
    margin-top: auto;      /* pushes footer to the bottom */
    text-align: center;
    padding: 20px 0;
    background-color: #e6e6e6;

}

/* Remove bullets + align icons */
#socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Icon styling */
#footer i {
    font-size: 160%;
    color: #4A90E2
    
}