/* Make page full height */
html, body {
    height: 100%;
    margin: 0;
}

/* Flex layout to push footer down */
body {
    display: flex;
    flex-direction: column;
}

/* Hero section */

#hero {
    position: relative;         /* allows absolute positioning inside */
    height: 100vh;              /* full screen height */
    width: 100%;
    background: url("../assets/images/dark-hero-image.png") no-repeat center center/cover;
}

/* H1: Stick to middle */
#hero .main-title h1 {
    position: absolute;
    bottom: 150px;             /* distance from bottom */
    left: 50%;
    transform: translateX(-50%); /* centers it horizontally */
    margin: 0;
    color: #BFD6FF;
    text-align: center;
}

/* H2: Center bottom */
#hero .main-title h2 {
    position: absolute;
    bottom: 20px;              /* distance from bottom */
    left: 50px;
    margin: 0;
    text-align: center;
    color: whitesmoke;
}
/* Footer container */
#footer {
    margin-top: auto;      /* pushes footer to the bottom */
    text-align: center;
    padding: 20px 0;
}

/* Remove bullets + align icons */
#socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Icon styling */
#footer i {
    font-size: 160%;
    color: #3a3a3a;
}